# VSCode settings
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# Ignore large or unused data
Data/test.csv
Data/raw_train.csv
Data/processed_train.csv
Data/X_test.csv
Data/y_test.csv

# Trained Models
Models/

# Results
Results/

# Virtual environments
venv/
.env/
